  /* section-header */
  
    #shopify-section-header {
        z-index: 1125;
        position: sticky;
        top: 0;
    }
    
    /* #shopify-section-header.shopify-section-header-sticky {
        position: sticky;
        top: 0;
    } */
    
    /* .shopify-section-header-hidden {
        transform: translateY(-100%);
    } */

    .site-header .navbar > .container{
        max-width: 1350px;
    }

    .template-index .main-header:not(.shopify-section-header-sticky) .site-header{
        background-color: transparent !important;
    }

    .template-index .main-header:not(.shopify-section-header-sticky) .menu-main > .nav-item > .nav-link,
    .template-index .main-header:not(.shopify-section-header-sticky) .navbar-icon-links .nav-item,
    .template-index .main-header:not(.shopify-section-header-sticky) .navbar-icon-links .nav-item .nav-link{
        color: #fff;
    }

    .menu-main > .nav-item > .nav-link{
        font-size: 11px;
        font-weight: 600;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        padding: 5px 10.5px;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        display: inline-flex;
    }
    .menu-main > .nav-item > .nav-link:hover{
        background-color: var(--bs-color-primary);
        color: #fff;
    }

    .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .navbar > .container,
    .navbar > .container-fluid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: inherit;
            flex-wrap: inherit;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .collapse:not(.show) {
        display: none;
    }

    @media (min-width: 992px) {
        .site-header{
            padding: 25px 0;
        }
        .navbar-expand-lg {
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        .navbar-expand-lg .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-lg .navbar-nav-scroll {
            overflow: visible;
        }
        .navbar-expand-lg .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        }
        .navbar-expand-lg .navbar-toggler {
            display: none;
        }
    }

    @media (min-width: 1200px) {
        .navbar-expand-xl {
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
            -webkit-box-pack: start;
                -ms-flex-pack: start;
                    justify-content: flex-start;
        }
        .navbar-expand-xl .navbar-nav {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
        .navbar-expand-xl .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-expand-xl .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-expand-xl .navbar-nav-scroll {
            overflow: visible;
        }
        .navbar-expand-xl .navbar-collapse {
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-preferred-size: auto;
                flex-basis: auto;
        }
        .navbar-expand-xl .navbar-toggler {
            display: none;
        }
    }

    .navbar-expand {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .navbar-expand .navbar-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .navbar-expand .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .navbar-expand .navbar-nav-scroll {
        overflow: visible;
    }

    .navbar-expand .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    }
      
    .navbar-main .navbar-nav.navbar-icon-links > .nav-item {
        padding: 0 0.6rem;
    }
    
    .navbar-main .nav-item.active > .nav-link {
        color: #fff !important;
        background-color: var(--bs-color-primary);
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    
    @media (max-width: 767.98px) {
        .navbar-main .nav-item {
            padding: 0;
        }
    }
    
    .navbar-main .navbar-icon-links .nav-item:first-child{
        padding-left: 0 !important;
    }
    .navbar-main .navbar-icon-links .nav-item:last-child  {
        padding-right: 0 !important;
    }
        
    .navbar-main .nav-item .icon {
        font-size: 1.6rem;
        line-height: 1;
    }

    .random_columns{
        column-count: 3;
   }
   .random_columns > li{
       vertical-align: top;
       -webkit-column-break-inside: avoid;
       page-break-inside: avoid;
       break-inside: avoid;
   }
    
    .navbar-main .dropdown-menu {
        position: absolute;
        z-index: 1000;
        display:block;
        opacity: 0;
        visibility: hidden;
        top: 100%;
        white-space: nowrap;
        padding: 30px 0 23px;
        margin: 0;
        font-size: 1rem;
        color: var(--bs-body-color);
        text-align: left;
        list-style: none;
        background-color: #fff;
        box-shadow: var(--bs-shadow);
        transition: all 0.2s ease-in-out;
    }
    .navbar-main .megamenu .dropdown-menu{
        width: 100%;
        left: 0;
        right: 0;
    }
    .navbar-main .dropdown-menu .nav-item .nav-link{
        padding: 0.5rem 1rem;
        font-size: var(--bs-font-size-md);
        position: relative;
    }
    .navbar-main .dropdown-menu .nav-item .nav-link:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 0;
        height: 1px;
        background: currentColor;
        transition: width 300ms ease-in-out;
    }
    .navbar-main .dropdown-menu .nav-item .nav-link:hover::after{
    width: 100%;
    }
    .navbar-main .dropdown-menu .nav-item:last-child .nav-link{
        font-weight: 700;
    }
    
    .submenu-grid > li{
        padding:0 15px;
        position: relative;
        white-space: normal;
    }

    .submenu-grid > li:after{
        position: absolute;
        content: "";
        left: 0;
        top: 5px;
        height: calc(100% - 16px);
        border-left: 1px solid var(--bs-color-primary);
    }

    .submenu-grid > li.grids-half ul{
        column-count: 2;
    }
    .submenu-grid > li.grids{
        width: 26%;
    }

    .dropdown.open > .dropdown-menu{
        opacity: 1;
        visibility: visible;
    }

    .navbar-icon-links .nav-item,
    .navbar-icon-links .nav-item .nav-link{
        display: flex;
        align-items: center;
        font-size:20px;
    }

    body .navbar-icon-links .nav-item:hover,
    body .navbar-icon-links .nav-item .nav-link:hover{
        color: var(--bs-color-primary-300) !important;
    }
    

    .topbar{
        transition: 0.25s ease-in-out;
        letter-spacing: 0.2px;
    }
    
    .cart-count {
        font-size: 12px;
        width: 20px;
        height: 20px;
        color: #fff;
        text-align: center;
        background: #d29c7d;
        border-radius: 50%;
        line-height: 20px;
        position: absolute;
        right: -5px;
        top: -4px;
    }

    .header-mobile{
        padding: 18px 0;
    }

@media only screen and (max-width: 1199px){
    .navbar-main .navbar-nav.navbar-icon-links > .nav-item{
        padding: 0 0.3rem;
    }
}

@media only screen and (max-width: 991px){
    .header__heading .img-fluid{
        max-width: 174px !important;
    }
}

@media only screen and (max-width: 355px){
    .header__heading .img-fluid{
        max-width: 140px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1025px){
    .header__heading .img-fluid{
        max-width: 200px !important;
    }
}

@media only screen and (min-width: 1200px){
    .submenu-grid > li.grids-half{
        width: 48%;
        padding-left: 42px;
    }
    .submenu-grid > li.grids-half:after{
        left: 30px;
    }
    .navbar-icon-links .nav-item,
    .navbar-icon-links .nav-item .nav-link{
        font-size: 22px;
    }
    .menu-main > .nav-item > .nav-link{
        font-size: 13px;
    }
}

@media only screen and (min-width: 1260px){
    .navbar-main .navbar-nav > .nav-item {
        padding: 0 5px;
    }
}