
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-btn-arrow-left:before {
  content: "\e902";
}
.icon-btn-arrow:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-Instagram:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-star:before {
  content: "\e90b";
}
.icon-tick-tok:before {
  content: "\e90c";
}
.icon-Twitter:before {
  content: "\e90d";
}
.icon-user:before {
  content: "\e90e";
}
.icon-Youtube:before {
  content: "\e90f";
}

.icon-size-10{ font-size: 10px; height: 10px; width: 10px;}
.icon-size-12{ font-size: 12px; }
.icon-size-14{ font-size: 14px; }
.icon-size-16{ font-size: 16px; }
.icon-size-18{ font-size: 18px; }
.icon-size-20{ font-size: 20px; }
.icon-size-22{ font-size: 22px; }
.icon-size-24{ font-size: 24px; }
.icon-size-26{ font-size: 26px; }
.icon-size-28{ font-size: 28px; }
.icon-size-30{ font-size: 30px; }